*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #73c3fd;
    height: 100vh;
    display: grid;
    place-items: center;
}
 
h1{
    font-size: 88px;  
    color: aliceblue;
    font-weight: bold;
    position: relative;
    /* text-shadow: -2px 4px 3px rgb(159, 24, 24); */
}
  
 
h1::before{
    content: "SHAHZAN...";
    color: rgba(255, 123, 0, 0.874);
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    border-right: 6px solid rgba(0, 0, 0, 0.874);
    overflow: hidden;
    animation: Text-reveal 2s linear infinite;
    -webkit-animation: Text-reveal 2s linear infinite;
}


@keyframes Text-reveal {
    0%{
       width: 0%;
    }
    50%{
        width: 100%;
    }
    100%{
        width: 0; 
    }
}