@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Mochiy+Pop+P+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url(cassssssssss.jpg);
  background-size: cover;
}

.container {
  width: 400px;
  min-height: 55vh;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.title {
  display: flex;
  font-size: 1.2rem;
  position: relative;
  margin-bottom: 20px;
}

.title img {
  position: absolute;
  right: -5%;
  top: -70%;
}

.amount {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.amount input {
  width: 340px;
  height: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 20px;
  font-size: 1.5rem;
  border: 1px solid lightgrey;
  margin-bottom: 20px;
}

.select {
  display: flex;
  justify-content: space-between;
}

.select-container img {
  max-width: 1.75rem;
}

.select-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 6rem;
  border: 1px solid lightgrey;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

select {
  border: none;
}

i {
  margin-top: 25px;
  color: #000;
  font-size: 28px;
}

#msg {
  margin-top: 20px;
  color: black;
  font-weight: bold;
  text-align: center;
}
p {
  font-weight: bold;
}
#submit {
  margin-top: 20px;
  width: 340px;
  height: 40px;
  font-weight: 600;
  font-size: 1.5rem;
  background-color: green;
  color: #f0f0f0;
  border: 1px solid lightgrey;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  margin-left: 1px;
}
