*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-image:url("1352189-super-mario-desktop-wallpaper-1920x1080-for-retina.jpg");
    background-image:url("img/OIP.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

img{
    width: 300px;
    position: absolute;
    bottom: 2%;
    animation: mariorun 2.5s linear;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */

}

@keyframes mariorun {
    0%{
       translate: 0%;
    } 
    100%{
        translate: calc(100vw - 300px);
    }
}