@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Afacad Flux", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(gmail-redesign-web-template-259471_4x.png);
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(4px);
  z-index: 1;
}

.container {
  width: 600px;
  height: 700px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  z-index: 2;
  background-color: white;
}

.title {
  display: flex;
  justify-content: space-between;
  height: 120px;
  margin-top: -10px; 
  font-size: 2.3rem;
  color: rgb(174, 60, 60);
}

form {
  display: flex;
  flex-direction: column;

  & label {
    text-align: start;
    font-size: 1.7rem;
  }

  & input {
    margin-bottom: 20px;
    width: 220px;
    height: 40px;
    font-size: 1.5rem;
    padding-left:10px ; 
  }

  & #email_id {
    width: 350px;
  }

  & textarea {
    width: 550px;
    height: 250px;
    font-size: 2rem;
    padding-left: 5px;
  }

  & button {
    width: 200px;
    height: 50px;
    margin: 20px 0px;
    font-weight: 600;
    font-size: 2rem;
    color: white;
    background-color: rgb(174, 60, 60);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
}

#msg{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#success{
  font-size: 2rem;
  background-color: green;
}

.popup-message {
  display: none;
  position: absolute;
  top: 27%;
  left: 52%;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.3rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
 
