* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: linear-gradient(#6482ad, #0a4075);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.head-clock {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 150px;
  box-shadow: rgba(237, 237, 237, 0.941) 0px 22px 70px 4px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: 1px solid rgb(255, 255, 255, 0.18);
  margin-bottom: 5rem;
  margin-top: 7rem;
  background: rgba(255, 255, 255, 0.19);
  z-index: 1;
  backdrop-filter: blur(25px);
}

.container::before,
.container::after {
  content: "";
  position: absolute;
  z-index: 0;
}

.container::before {
  content: "";
  height: 180px;
  width: 180px;
  top: -90px;
  left: -145px;
  background: rgba(209, 5, 189, 0.861);
  box-shadow: rgba(255, 0, 225, 0.982) -30px -30px 110px;
  border-radius: 10px;
  z-index: 0;
}
.container::after {
  content: "";
  height: 200px;
  width: 200px;
  top: 100px;
  right: -150px;
  background: rgba(51, 177, 13, 0.785);
  box-shadow: rgba(14, 193, 41, 0.982) 0px 30px 90px;
  z-index: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.container {
  position: relative;
  width: 700px;
  height: 180px;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
}

h1 {
  font-size: 5rem;
  padding-bottom: 17rem;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
  transition: all 3s ease-in-out;
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  -ms-transition: all 3s ease-in-out;
  -o-transition: all 3s ease-in-out;
  cursor: pointer;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.7), 0 0 15px rgba(0, 0, 0, 0.8),
    0 0 20px rgb(2, 2, 2), 0 0 25px rgb(24, 24, 24), 0 0 30px rgb(9, 9, 9),
    0 0 35px rgb(0, 0, 0);
}

@media (width < 1268px) {
  .container {
    margin-left: 25%;
  }
}

@media (width < 1168px) {
  .container {
    margin-left: 20%;
  }
}

@media (width < 1068px) {
  h1 {
    font-size: 4rem;
  }
  .container {
    width: 600px;
    height: 220px;
    margin-top: -40px;
    & .head-clock {
      font-size: 140px;
    }
  }
  .container::before {
    height: 120px;
    width: 120px;
    top: -50px;
    left: -100px;
  }
  .container::after {
    height: 150px;
    width: 150px;
    left: 550px;
    top: 160px;
  }
}
@media (width < 768px) {
  h1 {
    font-size: 3rem;
  }
  .container {
    width: 400px;
    height: 180px;
    margin-top: -40px;
    & .head-clock {
      font-size: 100px;
    }
  }
  .container::before {
    height: 80px;
    width: 80px;
    top: -10px;
    left: -60px;
  }
  .container::after {
    height: 100px;
    width: 100px;
    left: 360px;
    top: 130px;
  }
  .head-clock {
    font-size: 100px;
    padding: auto;
  }
}
@media (width < 568px) {
  h1 {
    font-size: 3rem;
  }
  .container {
    width: 350px;
    height: 180px;
    margin-top: -40px;
    & .head-clock {
      font-size: 100px;
    }
  }
  .container::before {
    top: 3px;
    left: -60px;
  }
  .container::after {
    left: 300px;
    top: 130px;
  }
  .head-clock {
    font-size: 80px;
    padding: auto;
  }
  #hour,
  #min,
  #sec,
  span {
    font-size: 80px;
  }
}
@media (width < 480px) {
  .container {
    margin-left: 10%;
  }
  .container::before {
    top: 3px;
    left: -40px;
  }
}
