* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000000;
  display: grid;
  place-content: center;
  background: linear-gradient(135deg, #dbf3f1, #0e7684ba);
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.container {
  width: 80vw;
  height: auto;
  padding: 40px;
  background-color: #f0f0f0;
  text-align: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

label {
  font-size: 40px;
  display: inline-block;
  margin-bottom: 15px;
  font-weight: 600;
}

#nums {
  font-size: 1.5rem;
  width: 60%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 8px;
  outline: none;
  text-align: center;
  transition: box-shadow 0.3s ease;
}

#nums:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#result {
  margin-top: 30px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

p {
  line-height: 1.8;
  margin: 10px 0px;
  font-size: 26px;
  color: #051515;
  text-align: justify;
  letter-spacing: 0.5px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

#pp {
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

input[type="text"]:focus {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.865);
}

button {
  position: absolute;
  left: 70%;
  bottom: 200px;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s, easease-in-out 0.3s;
  -webkit-transition: background-color 0.3s, tranform 0.3s;
  -moz-transition: background-color 0.3s, tranform 0.3s;
  -ms-transition: background-color 0.3s, tranform 0.3s;
  -o-transition: background-color 0.3s, tranform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #45a049;
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

button:active {
  background-color: #3e8e41;
  transform: scale(0.98);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#newGame {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  background-color: rgba(134, 6, 10, 0.927);
  width: 12rem;
  color: #fff;
  padding: 2px;
}
